<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css') }}">
    <title>{% block title %}Home{% endblock title %}</title>
</head>
<body>
<header class="bg-white">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="{{url_for('index')}}" class="-m-1.5 p-1.5">
        <span class="sr-only">Your Company</span>
        <img class="h-8 w-auto" src="https://media1.tenor.com/m/ZAMoMuQgf9UAAAAd/mapache-pedro.gif" alt="">
      </a>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
        <a href="{{url_for('index')}}" class="text-sm font-semibold leading-6 text-gray-900">Home</a>
        <a href="{{url_for('explorar')}}" class="text-sm font-semibold leading-6 text-gray-900">Explore</a>
        <a href="{{url_for('about')}}" class="text-sm font-semibold leading-6 text-gray-900">About</a>
    </div>
    <form action="{{url_for('search')}}" method="POST" class="w-96 rounded bg-white hidden lg:flex lg:flex-1 lg:justify-end">
          {{form.hidden_tag()}}
          {# <input type="search" name="search" id="search" placeholder="Search" class="border-none bg-transparent px-4 py-1 text-gray-900 outline-black">
          <button class=" m-2 rounded bg-teal-800 px-4 py-2 text-white" type="submit">Search</button> #}

          {{form.search(class = 'border-none bg-transparent px-4 py-1 text-gray-900 outline-black', placeholder = 'Search')}}
          {{form.submit( class = 'm-2 rounded bg-teal-800 px-4 py-2 text-white' )}}
    </form>
  </nav>
</header>
{% block content %}{% endblock content %}

</body>
</html>