{% extends "base.html" %}
{% block title %} Explorar: {{letra}} {% endblock title  %}
{% block content %}
{% include "abcdario.html" %}
<div class="">
    <h2 class="text-2xl font-semibold text-center pt-8 pb-1 text-[#1b3485]">Words with  </h2>
    <h2 class="text-2xl font-bold text-center pb-3 text-[#E1B640]">{{letra}}</h2>
    <div class="flex justify-center">
        <div class="w-3/4 bg-white shadow-lg rounded-lg overflow-hidden py-4">
            <div class="grid grid-cols-4 gap-4 pb-3">
            {% for dic in dic_revistas %}
                    {% for key in dic.keys() %}
                        <a class="m-3 hover:font-bold active:text-[#D0A738]   hover:text-[#E1B640]" href="{{url_for('explorar_palabra', letra = letra,palabra = key)}}">
                            <div class="flex items-center justify-center bg-gray-100 p-2 rounded-lg shadow">{{key.capitalize()}}</div>
                        </a>
                    {% endfor %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
